<!doctype html>
<html>
<head>
    <title>SG Car Rentals Pte Ltd</title>
    <style>
        .cars {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .car {
            border: 1px solid black;
            width: 200px;
            height: 180px;
            margin: 20px 20px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <h2>List of cars</h2>
    <section class="cars">
    </section>
    <a href="/addDriver">Add a new driver</a>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/index.js"></script>
</body>

</html>