<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="./css/style.css">
</head>
<body>
        <header>
                <h1><a href="/dealership">Dealership Management Page</a></h1>
        </header>
        <h2>Edit Dealership</h2>
        <form onsubmit="return editDealership();">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address"><br>
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
                <button type="submit">Save Dealership</button>
        </form>
        <button class="deleteDealershipbtn">Delete Dealership</button>
        <br>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/editDealership.js"></script>
</body>

</html>