<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Event Management Page</title>
</head>

<body>
    <h1>Event Management Page</h1>
    <section class="events">

</section>
<br>
<section>
    <button class="addEvent">Add new event</button>
</section>
<br>
<section class="addNewEvent">
    <form action="/events" method="POST">
        <label for="name">Event Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="description">Event Description:</label>
        <input type="text" id="description" name="description"><br>
        <label for="startDate">Start Date:</label>
        <input type="text" id="startDate" name="startDate"><br>
        <label for="startTime">Start Time:</label>
        <input type="text" id="startTime" name="startTime"><br>
        <label for="endDate">End Date:</label>
        <input type="text" id="endDate" name="endDate"><br>
        <label for="startTime">End Time:</label>
        <input type="text" id="endTime" name="endTime"><br>
        <label for="organiser">Organiser:</label>
        <select name="organiser" id="organiser"></select><br>
        <input type="submit" value="submit">
    </form>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

</body>

</html>
